<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bovink.androidlearning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".butterknife.bindresource.BindAnimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".butterknife.bindresource.BindArrayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".butterknife.bindresource.BindBitmapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".butterknife.bindresource.BindBoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".butterknife.bindresource.BindColorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".butterknife.bindresource.BindDimenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".butterknife.bindresource.BindDrawableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".butterknife.bindresource.BindFloatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".butterknife.bindresource.BindFontActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".butterknife.bindresource.BindIntActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".butterknife.bindresource.BindStringActivity"
            android:screenOrientation="portrait" />

        <!--bind event 绑定事件-->
        <activity
            android:name=".butterknife.bindevent.OnTextChangedActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>